<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= raw @text %>
</p>

<p><%= raw @page.getsubpages(@_subpages) %></p>
<%= link_to 'Add page', name_add_path %><br/>
<%= link_to 'Back', :action => :index %>